@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@theme {
  --color-primary: #eff6ee;
  --color-secondary: #273043;
  --color-accent: #e55812;
  --color-inactive: hsla(221, 26%, 21%, 0.2);
}

@layer utilities {
  .font-ibm {
    font-family: "IBM Plex Mono", monospace;
  }

  .font-inter {
    font-family: "Inter", sans-serif;
  }
}

body {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}
